.section1{
    display:flex;
    justify-content: center;
    /* padding-right:25%; */
    background-color: #6b7a8f ;
}
.body{
    padding-top: .5%;

}

.name{
    position: absolute;
    
    border: 2px solid white;
    background-color: white;
   
    padding-left: 1%;
    margin-right: 36%;
    margin-top: 10%;
    width:300px;
    height: 150px;
    border-radius: 15px;

}


.button{
    
    display: flex;
    justify-content: center;
    background-color:#6b7a8f ;
    padding-bottom: 7%;

}

.learnMore{
    display: flex;
    justify-content: center;
    background-color: #6b7a8f;
    color: white;
    
}


