.myMusic h1{
    text-align: center;
}
.all-music{
    display: flex;
    justify-content: center;
}

.fav-artist{
    /* border: 3px solid #f7c331; */
    background-color: white;
    margin-bottom: 10%;
    padding-left: 1%;
    width:35%;
    border-radius: 40px;
}

.lemonade{
    display:flex;
}
.lemonade p {
    margin-left: 10%;
}

#lemonade{
    width:120px;
}

.lauryn{
    display: flex;
    padding-top:2%;
}

.lauryn p{
    margin-left:10%;
}

#lauryn{
    width:120px;
}

.her{
    display: flex;
    padding-top: 2%;
}

.her p{
    margin-left:10%;
}

#her{
    width:120px;
}

.instruments{
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    margin-bottom: 10%;
    margin-left:10%;
    width:35%;
    border-radius: 40px;
    color: black;
    border: 2px solid black;
}
.guitar-box{
    display:flex;
    align-items: center;
}

.guitar-box p{
    margin-left: 20%;
    border: 1px solid black;
    border-radius: 40px;
    padding-top:5%;
    padding-left:3%;
    padding-bottom: 5%;
    padding-right: 1%;
}


#guitarpng{
    height:150px;
    transform: rotate(90deg);
    margin-left:10%;
}

.trumpet-box{
    display:flex;
    align-items: center;

}

.trumpet-box p{
    margin-left: 11%;
    border: 1px solid black;
    border-radius: 40px;
    padding-top:5%;
    padding-left:5%;
    padding-bottom: 5%;
    padding-right: 11%;
}
#trumpetpng{
    width:150px;
}

.piano-box{
    display:flex;
    align-items: center;
}

.piano-box p{
    margin-left: 11%;
    border: 1px solid black;
    border-radius: 40px;
    padding-top:5%;
    padding-left:5%;
    padding-bottom: 5%;
    padding-right: 27%;
}

#pianopng{
    width:150px
}